<div class='container'>
  <!-- <div class='row'>
    <div class="col-sm">{{pageTite}}</div>
  </div> -->
  
  <form [formGroup]="myForm" (ngSubmit)="onClickSubmit()" novalidate name="loginForm">

    <!--email-->
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" 
        formControlName="email"
        class="form-control col-sm-6"
        placeholder="Enter email"
        aria-describedby="emailHelp"  />
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else...</small>
      <div *ngIf="myForm.controls.email.value">Value: {{ myForm.controls.email.value }}</div>
      <!--validation-->
      <div class='alert alert-danger' *ngIf="myForm.get('email').hasError('required') && 
                (myForm.controls.email.dirty || myForm.controls.email.touched)" role="alert"> 
        email is required
      </div> 
    </div>

    <!--password-->
    <div class="form-group">
      <label for="email">Email password</label>
      <input type="password" 
          formControlName="userPassword"
          class="form-control col-sm-6"
          placeholder="Enter password"/>
      <!--validation-->
      <div *ngIf="myForm.controls.userPassword.errors && 
                (myForm.controls.userPassword.dirty || myForm.controls.userPassword.touched)"
        class="alert alert-danger" role="alert"> 
        <div *ngIf="myForm.controls.userPassword.errors.required">
          Password is required
        </div>
        <div *ngIf="myForm.controls.userPassword.errors.pattern">
          Password has pattern error
        </div>
        <div *ngIf="myForm.controls.password.errors.passwordCustomErr">
          xxx not available for password
        </div>
      </div> 
    </div>

    <!--submit-->
    <div class='form-group'>
      <button type="submit" class="btn btn-dark">submit</button>
    </div>

  </form>
